<launch>

  <!-- UNCOMMENT THE TYPE OF CONTROLLER THAT IS TO BE USED -->

      <!-- LOAD JOINT POSITION CONTROLLER CONFIGURATIONS FROM YAML FILE TO PARAMETER SERVER -->
      <!--
      <rosparam file="$(find robotleg_description)/config/position_controller.yaml"
                  command="load"/>
      -->

      <!-- LOAD JOINT TRAJECTORY CONTROLLER CONFIGURATIONS FROM YAML FILE TO PARAMETER SERVER -->
      
      <rosparam file="$(find robotleg_description)/config/trajectory_controller.yaml"
                  command="load"/>


  <!-- LOAD THE CONTROLLERS - ADD THE CONTROLLERS SPECIFIED IN THE YAML FILE THAT IS UNCOMMENTED -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" ns="robotleg"
        args="joint_state_controller
              robotleg_controller">
  </node>

  <!-- CONVERT JOINT STATES TO TF TRANSFORMS FOR RVIZ, ETC. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        ns="robotleg">
  </node>

  <!-- USEFUL RQT PLUGINS -->
  <!-- <node name="rqt_publisher" pkg="rqt_gui" type="rqt_gui" args="-s rqt_publisher"/> --> <!-- RELEVANT WHEN USING POSITION CONTROLLER -->
  <!-- <node name="rqt_reconfigure" pkg="rqt_gui" type="rqt_gui" args="-s rqt_reconfigure"/> -->
  
</launch>