<?xml version="1.0"?>

<launch>

  <!-- LAUNCH ARGUMENTS -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- START GAZEBO SIMULATION -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotleg_description)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <group ns="robotleg">

    <!-- LOAD MAIN URDF TO ROS PARAMETER SERVER -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find robotleg_description)/urdf/robotleg.xacro'"/>
    
    <!-- SPAWN ARGUMENTS -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1.0"/>

    <!-- SPAWN THE ROBOT MODEL -->
    <node name="robotleg_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model robotleg -x $(arg x) -y $(arg y) -z $(arg z)"/>

  </group>

  <!-- CONTROLLER LAUNCH FILE -->
  <include file="$(find robotleg_description)/launch/controller.launch"/>
  
</launch>