<?xml version="1.0"?>

<launch>

  <!-- Load urdf location on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find robotleg_description)/urdf/robotleg.xacro'"/>
  <param name="use_gui" value="true"/>

  <!-- Combine joint states to get tf of links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <!-- Publish joint states -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  
  <!-- Show robot state in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotleg_description)/launch/config.rviz"/>

</launch>