<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-2.7149053255364976e-05 0.006071611804429397 -0.028193004773101892"/>
    <mass value="0.5130132245051573"/>
    <inertia ixx="0.000232" ixy="0.0" ixz="0.0" iyy="0.000107" iyz="6e-06" izz="0.000214"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.0048088354182080194 -0.021040777808313836 -0.06716959874820433"/>
    <mass value="0.6477259179812457"/>
    <inertia ixx="0.000986" ixy="-3.3e-05" ixz="-4e-05" iyy="0.000609" iyz="-0.000297" izz="0.000762"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.0 0.03 0.023"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.0 0.03 0.023"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.06604434136906484 -0.03001640025859674 -0.059051797132805284"/>
    <mass value="0.8261014190531045"/>
    <inertia ixx="0.006903" ixy="-0.0" ixz="-0.000267" iyy="0.007169" iyz="-1.2e-05" izz="0.000441"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.052721 0.031421 0.242"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.052721 0.031421 0.242"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rev1" type="continuous">
  <origin rpy="0 0 0" xyz="0.0 -0.03 -0.023"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Rev3" type="continuous">
  <origin rpy="0 0 0" xyz="0.052721 -0.001421 -0.219"/>
  <parent link="link1_1"/>
  <child link="link2_1"/>
  <axis xyz="-1.0 -0.0 -0.0"/>
</joint>

</robot>
