<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.028206969725011053 -0.011117650702406718 0.5144513882765464"/>
    <mass value="0.11215555559606658"/>
    <inertia ixx="5.9e-05" ixy="-0.0" ixz="-0.0" iyy="4.4e-05" iyz="-5e-06" izz="4.9e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.028207030275031034 -0.4600316049394919 -0.05689178205624518"/>
    <mass value="0.09007107989785818"/>
    <inertia ixx="0.000176" ixy="0.0" ixz="-0.0" iyy="5.9e-05" iyz="-3e-06" izz="0.000145"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.056414 -0.4598 -0.531139"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.056414 -0.4598 -0.531139"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rev3" type="continuous">
  <origin rpy="0 0 0" xyz="-0.056414 0.4598 0.531139"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
</joint>

</robot>
