<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-2.4662403056558312e-05 0.005494145906680966 0.49465067657534334"/>
    <mass value="0.564739101917436"/>
    <inertia ixx="0.000285" ixy="0.0" ixz="0.0" iyy="0.000158" iyz="1.5e-05" izz="0.00023"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.019913277356506266 0.5030002583764063 -0.05795166531882251"/>
    <mass value="0.09688109674811755"/>
    <inertia ixx="0.000192" ixy="-0.0" ixz="0.0" iyy="6.3e-05" iyz="4e-06" izz="0.000157"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.019925 0.497075 -0.532"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.019925 0.497075 -0.532"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rev1" type="continuous">
  <origin rpy="0 0 0" xyz="0.019925 -0.497075 0.532"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
</joint>

</robot>
