<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-2.7174602321866267e-05 0.006053798965408933 -0.028185037843435335"/>
    <mass value="0.512530898807761"/>
    <inertia ixx="0.000232" ixy="0.0" ixz="0.0" iyy="0.000107" iyz="6e-06" izz="0.000214"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.0036608421504197384 0.00495462186502682 -0.05107161459210951"/>
    <mass value="0.1779868356482076"/>
    <inertia ixx="0.000574" ixy="-2.3e-05" ixz="-3e-05" iyy="0.000265" iyz="-0.000174" izz="0.000427"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.0 0.03 0.023"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.0 0.03 0.023"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.03930886187828325 -0.008700000000028393 0.048588395196188336"/>
    <mass value="0.09077100718883686"/>
    <inertia ixx="6e-05" ixy="0.0" ixz="4e-06" iyy="0.000179" iyz="0.0" izz="0.000147"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.03 0.0521 0.169"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.03 0.0521 0.169"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="joint1" type="continuous">
  <origin rpy="0 0 0" xyz="0.0 -0.03 -0.023"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="joint2" type="continuous">
  <origin rpy="0 0 0" xyz="0.03 -0.0221 0.146"/>
  <parent link="link1_1"/>
  <child link="link2_1"/>
  <axis xyz="-1.0 -0.0 -0.0"/>
</joint>

</robot>
