<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-2.7174602321866267e-05 0.006053798965408933 -0.028185037843435335"/>
    <mass value="0.512530898807761"/>
    <inertia ixx="0.000232" ixy="0.0" ixz="0.0" iyy="0.000107" iyz="6e-06" izz="0.000214"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.0014458364573385798 0.013511068370211994 -0.04088435425246737"/>
    <mass value="0.14361766122148795"/>
    <inertia ixx="0.000433" ixy="-9e-06" ixz="-8e-06" iyy="0.000166" iyz="-0.000109" izz="0.000345"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.0 0.03 0.023"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.0 0.03 0.023"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.028563073270656766 -0.008699999999984845 -0.13645942195306046"/>
    <mass value="0.48213537903441234"/>
    <inertia ixx="0.004062" ixy="0.0" ixz="-0.000245" iyy="0.004308" iyz="-0.0" izz="0.000408"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.03 0.0521 0.169"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.03 0.0521 0.169"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="joint1" type="continuous">
  <origin rpy="0 0 0" xyz="0.0 -0.03 -0.023"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Rev6" type="continuous">
  <origin rpy="0 0 0" xyz="-0.03 -0.0221 -0.146"/>
  <parent link="link1_1"/>
  <child link="link2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

</robot>
