<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-2.7174602321866267e-05 0.006053798965408933 -0.028185037843435335"/>
    <mass value="0.512530898807761"/>
    <inertia ixx="0.000232" ixy="0.0" ixz="0.0" iyy="0.000107" iyz="6e-06" izz="0.000214"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint_v3_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.019923558879193413 -0.05684519463854321 -0.034818702091367684"/>
    <mass value="0.006810016850259386"/>
    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="0.0"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.019925 -0.022925 -0.012"/>
    <geometry>
      <mesh filename="package://test_description/meshes/joint_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.019925 -0.022925 -0.012"/>
    <geometry>
      <mesh filename="package://test_description/meshes/joint_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.010746815859307552 -0.04053075039997803 -0.10277811362841968"/>
    <mass value="0.6370785777172516"/>
    <inertia ixx="0.000916" ixy="-4.6e-05" ixz="-5e-05" iyy="0.000564" iyz="-0.000305" izz="0.000784"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.0179 0.0103 -0.008004"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.0179 0.0103 -0.008004"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="joint_v3_2">
  <inertial>
    <origin rpy="0 0 0" xyz="0.12984519463854308 0.022076441120806645 -0.05361870209136768"/>
    <mass value="0.006810016850259386"/>
    <inertia ixx="1e-06" ixy="-0.0" ixz="-0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.095925 0.082875 0.0422"/>
    <geometry>
      <mesh filename="package://test_description/meshes/joint_v3_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.095925 0.082875 0.0422"/>
    <geometry>
      <mesh filename="package://test_description/meshes/joint_v3_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.05339113812171666 0.06140399999997151 -0.05916560480381163"/>
    <mass value="0.09077100718883686"/>
    <inertia ixx="6e-05" ixy="0.0" ixz="4e-06" iyy="0.000179" iyz="0.0" izz="0.000147"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0.0627 0.122204 0.061246"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0.0627 0.122204 0.061246"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rev7" type="continuous">
  <origin rpy="0 0 0" xyz="0.019925 0.022925 0.012"/>
  <parent link="base_link"/>
  <child link="joint_v3_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
</joint>

<joint name="Rigid8" type="fixed">
  <origin rpy="0 0 0" xyz="-0.037825 -0.033225 -0.003996"/>
  <parent link="joint_v3_1"/>
  <child link="link1_1"/>
</joint>

<joint name="Rev9" type="continuous">
  <origin rpy="0 0 0" xyz="-0.078025 -0.072575 -0.050204"/>
  <parent link="link1_1"/>
  <child link="joint_v3_2"/>
  <axis xyz="1.0 -0.0 -0.0"/>
</joint>

<joint name="Rigid10" type="fixed">
  <origin rpy="0 0 0" xyz="0.033225 -0.039329 -0.019046"/>
  <parent link="joint_v3_2"/>
  <child link="link2_1"/>
</joint>

</robot>
