<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.028231632128056194 -0.003675318199012738 0.49662022768868597"/>
    <mass value="0.564739101917436"/>
    <inertia ixx="0.000285" ixy="0.0" ixz="0.0" iyy="0.000158" iyz="1.5e-05" izz="0.00023"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-0.048131969724968963 0.5079823950605081 -0.06889178205624519"/>
    <mass value="0.09007107989785818"/>
    <inertia ixx="0.000176" ixy="0.0" ixz="-0.0" iyy="5.9e-05" iyz="-3e-06" izz="0.000145"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.019925 0.508214 -0.543139"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.019925 0.508214 -0.543139"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rev2" type="continuous">
  <origin rpy="0 0 0" xyz="0.019925 -0.508214 0.543139"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
</joint>

</robot>
