<?xml version="1.0" ?>
<robot name="test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_description)/urdf/test.trans" />
<xacro:include filename="$(find test_description)/urdf/test.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="5.944433906032821e-12 -0.01658097344344095 0.5539526771230513"/>
    <mass value="0.11215555559606659"/>
    <inertia ixx="5.9e-05" ixy="-0.0" ixz="0.0" iyy="4.4e-05" iyz="5e-06" izz="4.9e-05"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://test_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link1_1">
  <inertial>
    <origin rpy="0 0 0" xyz="5.902271707762806e-12 0.4995329807936443 -0.0062514932097405"/>
    <mass value="0.09007107989785818"/>
    <inertia ixx="0.000176" ixy="0.0" ixz="0.0" iyy="5.9e-05" iyz="3e-06" izz="0.000145"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.0 0.527 -0.52"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.0 0.527 -0.52"/>
    <geometry>
      <mesh filename="package://test_description/meshes/link1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rev4" type="continuous">
  <origin rpy="0 0 0" xyz="0.0 -0.527 0.52"/>
  <parent link="base_link"/>
  <child link="link1_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
</joint>

</robot>
