<launch>

  <!-- PUBLISH JOINT STATES - COMMENT IF USING REAL ROBOT - UNCOMMENT IF USING SIMULATED ROBOT -->
  <!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[robotleg/joint_states]</rosparam>
  </node>
  -->

  <!-- RUN THE MAIN MOVEIT EXECUTABLE -->
  <include file="$(find robotleg_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true"/>
  </include>

  <!-- RUN RVIZ TO SEE THE STATE OF THE ROBOT AND INTERACT WITH IT THROUGH THE MOTION PLANNING PANEL -->
  <include file="$(find robotleg_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find robotleg_moveit_config)/launch/moveit.rviz"/>
  </include>

</launch>