<?xml version="1.0"?>

<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find robotleg_description)/urdf/robotleg.xacro'"/>
  <param name="use_gui" value="true"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <!-- Send joint values -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  
  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotleg_description)/launch/config.rviz"/>

</launch>